<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Livestream Data</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>

<body>
    <div id="controls">
        <p id="statusText">Next collection in: <span id="countdown">---</span></p>
        <div id="collectorControls">
            <button onclick="control('start')">▶ Start</button>
            <button onclick="control('stop')">⏹ Stop</button>
        </div>
    </div>
    
    <h1>Top Live Streams</h1>
    <p>Click on a stream to view detailed stats.</p>
    <p>Click on the "Toggle Timeline Mode" button to switch between timeline and category mode.</p>
    
    {{range .}}
    <button class="stream"
    data-stream-id="{{.ID}}"
    data-streamer="{{.UserName}}">
        <h2>{{.UserName}}</h2>
        <p class="platform">{{.Platform}}</p>
        <p class="gameName">{{.GameName}}</p>
        <p class="language">{{.Language}}</p>
        <p class="streamTitle">{{.Title}}</p>
        <p><strong>Viewers:</strong> {{.ViewerCount}}</p>
        <img src="{{.ThumbnailURL}}" alt="Thumbnail" width="320">
    </button>
    {{end}}

    <div id="streamModal" class="modal hidden">
        <div class="modal-content">
            <span id="closeModal">&times;</span>
            <h2 id="modalTitle"></h2>
            <button id="toggleDate">Toggle Timeline Mode</button>
            <canvas id="modalChart" width="800" height="400"></canvas>
        </div>
    </div>
<script src="/static/script.js"></script>
</body>
</html>